{layout 'App.layout.html'}

{block content}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            {$article|noescape}

            {include 'Comments.partial.html'}
        </div>
        <div class="col-3 bg-body-tertiary">
            <h3>List of Articles</h3>

            <div class="list-group" n:inner-foreach="$articles as $item">
                <a n:if="!$item->getHidden()" href="{$item->getPage()}/Article?article={$item->id()}" class="list-group-item list-group-item-action {$currentArticle == $item->id() ? 'active' : ''}" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <small>{$item->getCreated()}</small>
                    </div>
                    <p class="mb-1">{$item->getTitle()}</p>
                  </a>
              </div>
        </div>
    </div>
</div>
{/block}