{layout 'App.layout.html'}

{block content}
<div n:if="$isAdmin || !$article->getHidden()" class="container mt-3">
    <div class="row">
        <div class="col me-md-4">
            <div class="d-flex w-100 justify-content-between">
                <small>
                    {$article->getCreated()|noescape}<br><b>{$article->getTitle()|noescape}</b>
                </small>
                <small n:if="$isAdmin" class="ms-auto">
                    <a href="/Editor/edit/{$article->id()}" style="margin-right: 0.25rem"><i
                            class="bi bi-pencil-fill"></i></a>
                    <a href="/Editor/hide/{$article->id()}" style="margin-right: 0.25rem"><i
                            class="bi {$article->getHidden() ? 'text-warning bi-eye-fill' : 'bi-eye-slash-fill'}"></i></a>
                    <a href="/Editor/delete/{$article->id()}"><i class="bi bi-trash3-fill"></i></a>
                </small>
            </div>
            <hr>
            {$article->getArticle()|noescape}

            {include 'Comments.partial.html'}
        </div>
        <div class="col-md-3 col-12">
            <h3>List of Articles</h3>

            <div class="list-group" n:inner-foreach="$articles as $item">
                <a n:if="$isAdmin || !$item->getHidden()" href="{$item->getPage()}/Article/{$item->id()}"
                    class="list-group-item list-group-item-action {$currentArticle == $item->id() ? 'active' : ''}"
                    aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <small>{$item->getCreated()}</small>
                    </div>
                    <p class="mb-1">{$item->getTitle()}</p>
                </a>
            </div>
        </div>
    </div>
</div>
{/block}