{layout 'App.layout.html'}

{block content}
<div class="container mt-3">
    <h1 class="text-left mb-3">Blog</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" n:foreach="$articles as $item">
            <div class="card h-100">
                <div class="blog-img" style="background: url('{f7k\Controller\ArticleController::extractPreviewImage($item->getArticle()) }') no-repeat center center; background-size: cover;"></div>
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-between pb-3">
                        <small>{$item->getCreated()}</small>
                        <small n:if="$isAdmin" class="ms-auto">
                            <a href="/Editor/edit/{$item->id()}" style="margin-right: 0.25rem"><i
                                    class="bi bi-pencil-fill"></i></a>
                            <a href="/Editor/hide/{$item->id()}" style="margin-right: 0.25rem"><i
                                    class="bi {$item->getHidden() ? 'text-warning bi-eye-fill' : 'bi-eye-slash-fill'}"></i></a>
                            <a href="/Editor/delete/{$item->id()}"><i class="bi bi-trash3-fill"></i></a>
                        </small>
                    </div>
                    <h5 class="card-title">{$item->getTitle()}</h5>
                    <p class="card-text">{$item->getDescription()}</p>
                    <a href="/Blog/Article/{$item->id()}">Read more ...</a>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}