{layout 'App.layout.html'}

{block content}
<div class="container mt-3">
    <h1>Articles</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" n:foreach="$articles as $item">
            <div n:if="$isAdmin || !$item->getHidden()" class="card h-100">
                <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect><text x="33%" y="50%" fill="#dee2e6"
                        dy=".3em">Responsive
                        image</text>
                </svg>
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-between bg-body-tertiary pb-3">
                        <small>{$item->getCreated()}</small>
                        <small n:if="$isAdmin" class="ms-auto">
                            <a href="/Editor/edit/{$item->id()}" style="margin-right: 0.25rem"><i
                                    class="bi bi-pencil-fill"></i></a>
                            <a href="/Editor/hide/{$item->id()}" style="margin-right: 0.25rem"><i
                                    class="bi {$item->getHidden() ? 'text-warning bi-eye-fill' : 'bi-eye-slash-fill'}"></i></a>
                            <a href="/Editor/delete/{$item->id()}"><i class="bi bi-trash3-fill"></i></a>
                        </small>
                    </div>
                    <h5 class="card-title">{$item->getTitle()}</h5>
                    <p class="card-text">{$item->getDescription()}</p>
                    <a href="/Blog/Article/{$item->id()}">Read more ...</a>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}