{layout 'App.layout.html'}

{block content}
<div class="container mt-3">
    <form action="{$articleId ? '/Editor/update' : '/Editor/create'}" method="post">
        <input type="hidden" name="articleId" value="{$articleId}">
        <div class="row mb-3">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Title (Max. 64 Zeichen)</label>
                <input type="text" name="title" class="form-control" id="exampleFormControlInput1" maxlength="64" value="{$articleTitle}" required>
            </div>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Page</label>
                <select name="page" class="form-select" aria-label="Default select example" required>
                    <option value="">Select Page</option>
                    <option value="/Blog" {$articlePage == '/Blog' ? 'selected' : ''}>Blog</option>
                    <option value="/Test" {$articlePage == '/Test' ? 'selected' : ''}>Test</option>
                  </select>
            </div>
          </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description (Max. 255 Zeichen)</label>
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="255" required>{$articleDescription}</textarea>
        </div>
        <label for="exampleFormControlTextarea1" class="form-label">Article</label>
        <div class="mb-3">
            <textarea id="tiny-mce" name="articleText">{$articleText}</textarea>
            <script
                src="https://cdn.tiny.cloud/1/gn4rjxqs6qq07qn50c23uibh91j9udtgr9dvxhl50x33ots8/tinymce/6/tinymce.min.js"
                referrerpolicy="origin"></script>
            <script>

                const useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
                const isSmallScreen = window.matchMedia('(max-width: 1023.5px)').matches;

                tinymce.init({
                    selector: 'textarea#tiny-mce',
                    plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons',
                    editimage_cors_hosts: ['picsum.photos'],
                    // menubar: 'file edit view insert format tools table help',
                    toolbar: 'undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
                    toolbar_sticky: true,
                    image_advtab: true,
                    link_list: [
                        { title: 'My page 1', value: 'https://www.tiny.cloud' },
                        { title: 'My page 2', value: 'http://www.moxiecode.com' }
                    ],
                    image_list: [
                        { title: 'My page 1', value: 'https://www.tiny.cloud' },
                        { title: 'My page 2', value: 'http://www.moxiecode.com' }
                    ],
                    image_class_list: [
                        { title: 'None', value: '' },
                        { title: 'Some class', value: 'class-name' }
                    ],
                    importcss_append: true,
                    file_picker_callback: (callback, value, meta) => {
                        /* Provide file and text for the link dialog */
                        if (meta.filetype === 'file') {
                            callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
                        }

                        /* Provide image and alt text for the image dialog */
                        if (meta.filetype === 'image') {
                            callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
                        }

                        /* Provide alternative source and posted for the media dialog */
                        if (meta.filetype === 'media') {
                            callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
                        }
                    },
                    templates: [
                        { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                        { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                        { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
                    ],
                    template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
                    template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
                    height: 600,
                    image_caption: true,
                    quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
                    noneditable_class: 'mceNonEditable',
                    toolbar_mode: 'sliding',
                    // contextmenu: 'link image table',
                    // skin: useDarkMode ? 'oxide-dark' : 'oxide',
                    // content_css: useDarkMode ? 'dark' : 'default',
                    // content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
                });

            </script>
        </div>
        <button type="submit" class="btn btn-primary">Save Article</button>
        <a href="{$articlePage}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{/block}